
<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <a>
        <span class="icon icon-close pull-left"></span>
    </a>
    <h1 class="title">Slingshot</h1>
    <span class="icon icon-gear pull-right"></span>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content" ng-controller="MainCtrl">
    <div class="content-padded">
        <button ng-click="gotoview('business')" class="btn btn-positive btn-block">Take Surveys</button>
        <button ng-click="gotoview('business')" class="btn btn-primary btn-block">My Free Stuff</button>
    </div>
</div>
