<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
    <a id="back-link" class="icon icon-left-nav pull-left" href="#/find_local/1" data-transition="slide-out"></a>
    <h1 class="title">Survey</h1>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content" ng-controller="SurveyCtrl">
    <style>
        #submit-survey {
            margin: auto;
            width: 80%;
        }
        .segmented-control {
            width: 100%;
            margin: auto;
        }
    </style>
    <div class="card">
        <ul class="table-view">
            <!-- Get the users favorites from firebase -->
            <li ng-repeat="q in survey.questions" class="table-view-cell">
                <h3>{{q.q_str}}</h3>
                <div class="segmented-control">
                    <a ng-click="q.response[$index]" ng-repeat="a in q.answers" class="control-item">
                        {{a}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <button ng-click="submit_survey()" id="submit-survey" class="btn btn-positive btn-block">Submit</button>
</div>
