<style>
	.survey-list {
		margin: 25px;
	}
</style>
<div data-ng-controller="DashboardCtrl">
	<div class="survey-list">
		<div class="section-header">
			<h3 class="pull-left" style="margin: 2px">Active Surveys</h4>
			<button class="pull-right btn btn-success">
				<i class="glyphicon glyphicon-plus"></i> New Survey
			</button>
		</div>

		<div class="inset">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Answers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>My Survey About Stuff</td>
						<td>8/10/2010</td>
						<td>8/24/2010</td>
						<td>46</td>
					</tr>
					<tr>
						<td>Where Did I Leave My Keys?</td>
						<td>8/15/2010</td>
						<td>8/22/2010</td>
						<td>5216</td>
					</tr>
					<tr>
						<td>Best Coffee In The World</td>
						<td>8/16/2010</td>
						<td>8/20/2010</td>
						<td>-5</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div style="padding: 0px 0px 5px 0px"></div>

	<div class="survey-list">
		<div class="section-header">
			<h3 style="float: left; margin: 2px">Expired Surveys</h4>
		</div>

		<div class="inset">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Answers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>My Survey About Stuff</td>
						<td>8/10/2010</td>
						<td>8/24/2010</td>
						<td>46</td>
					</tr>
					<tr>
						<td>Where Did I Leave My Keys?</td>
						<td>8/15/2010</td>
						<td>8/22/2010</td>
						<td>5216</td>
					</tr>
					<tr>
						<td>Best Coffee In The World</td>
						<td>8/16/2010</td>
						<td>8/20/2010</td>
						<td>-5</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>